{% extends '_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <div class="row">
        <div class="col-md-3"></div>


        <div class="content-section col-md-5">
            <h2>Register</h2>
            <form action="" method="post">
       {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.email) }}
                {{ wtf.form_field(form.age) }}
                {{ wtf.form_field(form.city) }}
                {{ wtf.form_field(form.info) }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.password_repeat) }}
                {{ form.submit }}
            </form>

            <div class="border-top pt-3">
                <small class="text-muted pull-right">
                    Already Have An Account? <a class="ml-2" href="{{ url_for('auth.login') }}">Sign In</a>
                </small>
            </div>
        </div>


        <div class="col-md-3"></div>
    </div>

{% endblock page_content %}



