{% extends "_base.html" %}

{% block page_content %}
    <h3 class="mb-3">Cities to monitor by {{ current_user.username }}</h3>

    <div class="container">
        <button type="button" class="btn btn-primary" id="selectButton" onclick="toggle()">Select all</button>
        <button type="submit" class="btn btn-danger" form="userForm">Delete</button>
        <hr>

        <form action="{{ url_for('weather.delete_cities') }}" method="post" id="userForm">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <table class="table table-hover table-striped" id="userTable" >

                <thead>
                <tr >
                    <th class="col">Select</th>
                    <th>#</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Country code</th>
                    <th>Flag</th>
                </tr>
                </thead>

                <tbody>
                {% for city_user in cities %}
                    <tr>

                        <td>
                            <input type="checkbox" name="selectors" class="checkbox" value="{{ city_user.city_id }}">
                        </td>
                        <td>{{ loop.index }}</td>

                        <td>
                            <a href="{{ url_for('weather.show_city', city_name=city_user.city.name) }}">
                                {{ city_user.city.name }}
                            </a>
                        </td>

                        <td>{{ city_user.city.country.name }}</td>
                        <td>{{ city_user.city.country.code }}</td>

                        <td class="" style="background: rgba(0,0,0,0.05);">
                            <img src="{{ city_user.city.country.flag }}" width="50" height="40">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </form>
        <hr>
    </div>
{% endblock page_content %}