{% extends '_base.html' %}

{% block page_content %}


    <div class="row">
        <div class="col-md-3"></div>

        {{ pagination.info }}
        {{ pagination.links }}

        <div class="col-md-8">


            <div class="container">
                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead></thead>
                        <tbody>
                        {% for post in posts %}
                            <tr>
                                <td>
                                    <img class="rounded-circle article-img"
                                         src="{{ post.author.profile.avatar }}">
                                    <div class="media-body">

                                        <div class="article-metadata">
                                            <a class="mr-2"
                                               href="{{ url_for('posts.user_posts', username=post.author.username) }}">
                                                {{ post.author.username }}
                                            </a>
                                            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                                        </div>

                                        <h2><a class="article-title"
                                               href="{{ url_for('posts.post_func', post_id=post.id) }}">
                                            {{ post.title }}
                                        </a></h2>

                                        <p class="article-content">{{ post.content }}</p>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ pagination.links }}
                </div>
            </div>
        </div>


        <div class="col-md-3"></div>
    </div>


{% endblock page_content %}
