{% extends '_base.html' %}

{% block page_content %}

    <h1 class="mb-3">Posts by {{ user.username }} ({{ posts.count() }})</h1>
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img pull-left"
                 src="{{ post.author.profile.avatar }}">

            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('posts.user_posts', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>

                <h2>
                    <a class="article-title" href="{{ url_for('posts.post_func', post_id=post.id) }}">
                        {{ post.title }}
                    </a>
                </h2>

                <p class="article-content">{{ post.content }}</p>
            </div>

        </article>
    {% endfor %}


{% endblock page_content %}
