<nav class="navbar-wrapper navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle button get grouped with a navbar-header class for better mobile display -->
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Itea Project</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div><!--end of navbar-header -->

        <!-- Collect elements for toggling -->
        <div class="collapse navbar-collapse navHeaderCollapse">
            <!-- Left NavBar -------------------------- -->
            <ul class="nav navbar-nav">
                <li class=""><a href="/">
                    <span id="home_menu_icon_color" class="glyphicon glyphicon-home"></span> Home</a></li>

                <li class=""><a href="{{ url_for('posts.blog') }}">
                    <span id="training_menu_icon_color" class="glyphicon glyphicon-book"></span> Blog</a>
                </li>

                <li class=""><a href="{{ url_for('admin.show_users') }}">
                    <span id="services_menu_icon_color" class="glyphicon glyphicon-wrench"></span> Admin</a>
                </li>


                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span id="sign_up_menu_icon_color" class="glyphicon glyphicon-globe"></span> Weather
                        <span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('weather.index') }}">Search city</a></li>
                        <li><a href="{{ url_for('weather.show_user_cities') }}">Monitor weather</a></li>
                        <li class="divider"></li>
                        <li><a href="#">None</a></li>
                        <li><a href="#">None</a></li>
                    </ul>
                </li>


                <li class=""><a href="#">
                    <span id="contact_us_menu_icon_color" class="glyphicon glyphicon-envelope"></span> Contact Us</a>
                </li>
            </ul>

            <!-- Right NavBar ------------------------- -->
            <ul class="nav navbar-nav navbar-right">

                {% if current_user.is_authenticated %}
                    <li><a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a></li>

                    <li><a href="{{ url_for('auth.account') }}">
                        <img src="{{ current_user.profile.avatar }}" alt="avatar" width="25" height="20">
                        {{ current_user.username }}
                    </a></li>
                    {#<span id="sign_up_menu_icon_color" class="glyphicon glyphicon-user"></span> Account</a></li>#}

                    <li><a href="{{ url_for('auth.logout') }}">
                        <span id="login_menu_icon_color" class="glyphicon glyphicon-log-in"></span> Logout</a></li>

                {% else %}
                    <li><a href="{{ url_for('auth.register') }}">
                        <span id="sign_up_menu_icon_color" class="glyphicon glyphicon-user"></span> Register</a></li>

                    <li><a href="{{ url_for('auth.login') }}">
                        <span id="login_menu_icon_color" class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
    </div>
</nav>