{% extends "_base.html" %}

{% block page_content %}
    {{ pagination.info }}
    <div class="container">
        {{ pagination.links }}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Last visit</th>

                    <th>Role</th>

                    <th>City</th>
                    <th>Age</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ loop.index + (page - 1) * per_page }}</td>

                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.last_visit }}</td>

                        <td>{{ user.role.name }}</td>

                        <td>{{ user.profile.city }}</td>
                        <td>{{ user.profile.age }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{ pagination.links }}
    </div>
{% endblock page_content %}